# IMPORT

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

In [ ]:
file_path = 'loan_applications.csv'

# SECTION 1: LOAD DATASET

In [ ]:
# ============================
# SECTION 1: LOAD DATASET
# ============================
def load_data(file_path):
    """
    Load dataset from a CSV file and return a pandas DataFrame.
    """
    print("\n[INFO] Loading dataset...")
    df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
    print("[SUCCESS] Dataset loaded successfully! Shape:", df.shape, "\n")  # Print dataset shape
    print(df.head())  # Display first 5 rows for preview
    print("[INFO] Dataset Info:")
    print(df.info())  # Show dataset info including column types and missing values
    return df
df = load_data(file_path)

[INFO] Loading dataset...
[SUCCESS] Dataset loaded successfully! Shape: (50000, 17)

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1
[INFO] Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   application_id     50000 non-null  int64
 1   application_date   50000 non-null  object
 2   age                50000 non-null  int64
 3   gender             50000 non-null  object
 4   education          50000 non-null  object
 5   occupation         50000 non-null  object
 6   employment_length  42840 non-null  float64
 7   income             47555 non-null  float64
 8   loan_amount        50000 non-null  float64
 9   loan_term          50000 non-null  int64
 10  interest_rate      50000 non-null  float64
 11  monthly_payment    50000 non-null  float64
 12  credit_score       47422 non-null  float64
 13  existing_loans     47487 non-null  float64
 14  previous_defaults  50000 non-null  int64
 15  city               50000 non-null  object
 16  default            50000 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 6.5+ MB
None

# SECTION 2: HANDLE MISSING VALUES

In [ ]:
# SECTION 2: HANDLE MISSING VALUES
# ============================
def handle_missing_values(df):
    """
    Fill missing values in the dataset:
    - Numeric columns: fill with mean
    - Categorical columns: fill with most frequent value (mode)
    """
    print("\n[INFO] Handling missing values...")
    print("[BEFORE] Missing values per column:\n", df.isnull().sum(), "\n")  # Show missing values before processing

    numeric_cols = df.select_dtypes(include=[np.number]).columns  # Get numeric columns
    categorical_cols = df.select_dtypes(exclude=[np.number]).columns  # Get categorical columns

    # Fill missing values in numeric columns with mean
    df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

    # Fill missing values in categorical columns with most frequent value
    df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

    print("[AFTER] Missing values handled! Numeric cols:", len(numeric_cols), "Categorical cols:", len(categorical_cols), "\n")
    print(df.head())  # Display changes in data after handling missing values
    return df
df = handle_missing_values(df)

[INFO] Handling missing values...
[BEFORE] Missing values per column:
 application_id          0
application_date        0
age                     0
gender                  0
education               0
occupation              0
employment_length    7160
income               2445
loan_amount             0
loan_term               0
interest_rate           0
monthly_payment         0
credit_score         2578
existing_loans       2513
previous_defaults       0
city                    0
default                 0
dtype: int64

[AFTER] Missing values handled! Numeric cols: 12 Categorical cols: 5

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1

# SECTION 3: ENCODE CATEGORICAL FEATURES

In [ ]:
# ============================
# SECTION 3: ENCODE CATEGORICAL FEATURES
# ============================
def encode_categorical_features(df):
    """
    Convert categorical columns into numerical format using One-Hot Encoding.
    """
    print("\n[INFO] Encoding categorical features...")
    print("[BEFORE] Columns:", df.columns.tolist(), "\n")  # Show column names before encoding

    df = pd.get_dummies(df, drop_first=True)  # Apply One-Hot Encoding

    print("[AFTER] Categorical features encoded! New shape:", df.shape, "\n")
    print(df.head())  # Display first rows after encoding
    return df
df = encode_categorical_features(df)

[INFO] Encoding categorical features...
[BEFORE] Columns: ['application_id', 'application_date', 'age', 'gender', 'education', 'occupation', 'employment_length', 'income', 'loan_amount', 'loan_term', 'interest_rate', 'monthly_payment', 'credit_score', 'existing_loans', 'previous_defaults', 'city', 'default']

[AFTER] Categorical features encoded! New shape: (50000, 850)

   application_id  age  employment_length    income  loan_amount  loan_term  \
0               1   40          13.573526  40298.38     95254.57         48
1               2   33           3.061310  38167.11    140514.31         60
2               3   42          12.040059   8666.27     13340.61         60
3               4   53           8.490862  33093.00     73008.42         60
4               5   32           0.782913  41115.42     51399.26         12

   interest_rate  monthly_payment  credit_score  existing_loans  ...  \
0          10.95          2459.46         781.0             0.0  ...
1          17.12          3501.53         687.0             1.0  ...
2          11.89           296.01         795.0             0.0  ...
3          12.89          1657.01         724.0             2.0  ...
4           7.58          4461.24         510.0             0.0  ...

   city_CITY_90  city_CITY_91  city_CITY_92  city_CITY_93  city_CITY_94  \
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

   city_CITY_95  city_CITY_96  city_CITY_97  city_CITY_98  city_CITY_99
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

[5 rows x 850 columns]

# SECTION 4: SCALE NUMERIC FEATURES

In [ ]:
# ============================
# SECTION 4: SCALE NUMERIC FEATURES
# ============================
def scale_features(df, method="standard"):
    """
    Scale numerical features using either StandardScaler or MinMaxScaler.
    """
    print("\n[INFO] Scaling numeric features using", method, "scaler...")

    numeric_cols = df.select_dtypes(include=[np.number]).columns  # Get numeric columns
    scaler = StandardScaler() if method == "standard" else MinMaxScaler()  # Choose scaler
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])  # Apply scaling

    print("[SUCCESS] Features scaled using", method, "\n")
    print("[INFO] Dataset statistics after scaling:")
    print(df.describe())  # Show statistics after scaling
    return df
df = scale_features(df, method="minmax")  # method="minmax" method="standard"

[INFO] Scaling numeric features using minmax scaler...
[SUCCESS] Features scaled using minmax

[INFO] Dataset statistics after scaling:
       application_id           age  employment_length        income  \
count    50000.000000  50000.000000       50000.000000  50000.000000
mean         0.500000      0.273573           0.185371      0.093763
std          0.288684      0.179577           0.135999      0.064713
min          0.000000      0.000000           0.000000      0.000000
25%          0.250000      0.129032           0.102984      0.050893
50%          0.500000      0.274194           0.185371      0.082457
75%          0.750000      0.403226           0.233847      0.118188
max          1.000000      1.000000           1.000000      1.000000

        loan_amount     loan_term  interest_rate  monthly_payment  \
count  50000.000000  50000.000000   50000.000000     50000.000000
mean       0.063782      0.500665       0.424507         0.038773
std        0.057897      0.352755       0.163983         0.045563
min        0.000000      0.000000       0.000000         0.000000
25%        0.024010      0.250000       0.304000         0.011383
50%        0.047810      0.500000       0.424000         0.024484
75%        0.085034      0.750000       0.545000         0.048488
max        1.000000      1.000000       1.000000         1.000000

       credit_score  existing_loans  previous_defaults       default
count  50000.000000    50000.000000       50000.000000  50000.000000
mean       0.788374        0.142514           0.151940      0.287700
std        0.168179        0.138862           0.358966      0.452695
min        0.000000        0.000000           0.000000      0.000000
25%        0.677481        0.000000           0.000000      0.000000
50%        0.791985        0.142857           0.000000      0.000000
75%        0.935115        0.142857           0.000000      1.000000
max        1.000000        1.000000           1.000000      1.000000

# SECTION 5: FULL DATA PREPROCESSING PIPELINE

In [ ]:
# ============================
# SECTION 5: FULL DATA PREPROCESSING PIPELINE
# ============================
def preprocess_data(file_path):
    """
    Full data preprocessing pipeline:
    1. Load data
    2. Handle missing values
    3. Encode categorical features
    4. Scale numeric features
    """
    print("\n====================")
    print("[START] Data Preprocessing Pipeline")
    print("====================\n")

    df = load_data(file_path)  # Load dataset
    df = handle_missing_values(df)  # Handle missing values
    df = encode_categorical_features(df)  # Encode categorical features
    df = scale_features(df, method="standard")  # Scale numeric features

    print("====================")
    print("[COMPLETE] Data Preprocessing Finished!")
    print("====================\n")
    return df
processed_df = preprocess_data("loan_applications.csv")

====================
[START] Data Preprocessing Pipeline
====================


[INFO] Loading dataset...
[SUCCESS] Dataset loaded successfully! Shape: (50000, 17)

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1
[INFO] Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   application_id     50000 non-null  int64
 1   application_date   50000 non-null  object
 2   age                50000 non-null  int64
 3   gender             50000 non-null  object
 4   education          50000 non-null  object
 5   occupation         50000 non-null  object
 6   employment_length  42840 non-null  float64
 7   income             47555 non-null  float64
 8   loan_amount        50000 non-null  float64
 9   loan_term          50000 non-null  int64
 10  interest_rate      50000 non-null  float64
 11  monthly_payment    50000 non-null  float64
 12  credit_score       47422 non-null  float64
 13  existing_loans     47487 non-null  float64
 14  previous_defaults  50000 non-null  int64
 15  city               50000 non-null  object
 16  default            50000 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 6.5+ MB
None

[INFO] Handling missing values...
[BEFORE] Missing values per column:
 application_id          0
application_date        0
age                     0
gender                  0
education               0
occupation              0
employment_length    7160
income               2445
loan_amount             0
loan_term               0
interest_rate           0
monthly_payment         0
credit_score         2578
existing_loans       2513
previous_defaults       0
city                    0
default                 0
dtype: int64

[AFTER] Missing values handled! Numeric cols: 12 Categorical cols: 5

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1

[INFO] Encoding categorical features...
[BEFORE] Columns: ['application_id', 'application_date', 'age', 'gender', 'education', 'occupation', 'employment_length', 'income', 'loan_amount', 'loan_term', 'interest_rate', 'monthly_payment', 'credit_score', 'existing_loans', 'previous_defaults', 'city', 'default']

[AFTER] Categorical features encoded! New shape: (50000, 850)

   application_id  age  employment_length    income  loan_amount  loan_term  \
0               1   40          13.573526  40298.38     95254.57         48
1               2   33           3.061310  38167.11    140514.31         60
2               3   42          12.040059   8666.27     13340.61         60
3               4   53           8.490862  33093.00     73008.42         60
4               5   32           0.782913  41115.42     51399.26         12

   interest_rate  monthly_payment  credit_score  existing_loans  ...  \
0          10.95          2459.46         781.0             0.0  ...
1          17.12          3501.53         687.0             1.0  ...
2          11.89           296.01         795.0             0.0  ...
3          12.89          1657.01         724.0             2.0  ...
4           7.58          4461.24         510.0             0.0  ...

   city_CITY_90  city_CITY_91  city_CITY_92  city_CITY_93  city_CITY_94  \
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

   city_CITY_95  city_CITY_96  city_CITY_97  city_CITY_98  city_CITY_99
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

[5 rows x 850 columns]

[INFO] Scaling numeric features using standard scaler...
[SUCCESS] Features scaled using standard

[INFO] Dataset statistics after scaling:
       application_id           age  employment_length        income  \
count    5.000000e+04  5.000000e+04       5.000000e+04  5.000000e+04
mean     9.094947e-18 -2.458478e-17       1.669775e-16 -2.165024e-16
std      1.000010e+00  1.000010e+00       1.000010e+00  1.000010e+00
min     -1.732016e+00 -1.523442e+00      -1.363046e+00 -1.448930e+00
25%     -8.660081e-01 -8.049015e-01      -6.057953e-01 -6.624810e-01
50%      0.000000e+00  3.456178e-03       2.762360e-16 -1.747093e-01
75%      8.660081e-01  7.219963e-01       3.564453e-01  3.774339e-01
max      1.732016e+00  4.045244e+00       5.990031e+00  1.400414e+01

        loan_amount     loan_term  interest_rate  monthly_payment  \
count  5.000000e+04  5.000000e+04   5.000000e+04     5.000000e+04
mean   1.044498e-16  4.579448e-17  -7.615597e-16     5.513812e-17
std    1.000010e+00  1.000010e+00   1.000010e+00     1.000010e+00
min   -1.101661e+00 -1.419315e+00  -2.588757e+00    -8.509827e-01
25%   -6.869531e-01 -7.106003e-01  -7.348833e-01    -6.011551e-01
50%   -2.758693e-01 -1.885182e-03  -3.090908e-03    -3.136115e-01
75%    3.670647e-01  7.068299e-01   7.347998e-01     2.132169e-01
max    1.617059e+01  1.415545e+00   3.509513e+00     2.109691e+01

       credit_score  existing_loans  previous_defaults       default
count  5.000000e+04    5.000000e+04       5.000000e+04  5.000000e+04
mean  -9.322321e-17    8.171241e-17       4.177991e-17 -1.950440e-17
std    1.000010e+00    1.000010e+00       1.000010e+00  1.000010e+00
min   -4.687765e+00   -1.026309e+00      -4.232751e-01 -6.355335e-01
25%   -6.593816e-01   -1.026309e+00      -4.232751e-01 -6.355335e-01
50%    2.147187e-02    2.469746e-03      -4.232751e-01 -6.355335e-01
75%    8.725388e-01    2.469746e-03      -4.232751e-01  1.573481e+00
max    1.258356e+00    6.175144e+00       2.362529e+00  1.573481e+00
====================
[COMPLETE] Data Preprocessing Finished!
====================

# SECTION 6: EXAMPLE USAGE

In [ ]:
# ============================
# SECTION 7: EXAMPLE USAGE
# ============================

# Uncomment to run:
processed_df = preprocess_data("loan_applications.csv")

====================
[START] Data Preprocessing Pipeline
====================


[INFO] Loading dataset...
[SUCCESS] Dataset loaded successfully! Shape: (50000, 17)

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1
[INFO] Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   application_id     50000 non-null  int64
 1   application_date   50000 non-null  object
 2   age                50000 non-null  int64
 3   gender             50000 non-null  object
 4   education          50000 non-null  object
 5   occupation         50000 non-null  object
 6   employment_length  42840 non-null  float64
 7   income             47555 non-null  float64
 8   loan_amount        50000 non-null  float64
 9   loan_term          50000 non-null  int64
 10  interest_rate      50000 non-null  float64
 11  monthly_payment    50000 non-null  float64
 12  credit_score       47422 non-null  float64
 13  existing_loans     47487 non-null  float64
 14  previous_defaults  50000 non-null  int64
 15  city               50000 non-null  object
 16  default            50000 non-null  int64
dtypes: float64(7), int64(5), object(5)
memory usage: 6.5+ MB
None

[INFO] Handling missing values...
[BEFORE] Missing values per column:
 application_id          0
application_date        0
age                     0
gender                  0
education               0
occupation              0
employment_length    7160
income               2445
loan_amount             0
loan_term               0
interest_rate           0
monthly_payment         0
credit_score         2578
existing_loans       2513
previous_defaults       0
city                    0
default                 0
dtype: int64

[AFTER] Missing values handled! Numeric cols: 12 Categorical cols: 5

   application_id application_date  age gender    education     occupation  \
0               1       2020-01-05   40      M       Master  Self-employed
1               2       2020-05-21   33      M     Bachelor       Salaried
2               3       2020-09-24   42      F     Bachelor     Unemployed
3               4       2020-05-10   53      F  High School       Salaried
4               5       2020-05-15   32      M       Master       Salaried

   employment_length    income  loan_amount  loan_term  interest_rate  \
0          13.573526  40298.38     95254.57         48          10.95
1           3.061310  38167.11    140514.31         60          17.12
2          12.040059   8666.27     13340.61         60          11.89
3           8.490862  33093.00     73008.42         60          12.89
4           0.782913  41115.42     51399.26         12           7.58

   monthly_payment  credit_score  existing_loans  previous_defaults     city  \
0          2459.46         781.0             0.0                  0  CITY_22
1          3501.53         687.0             1.0                  0  CITY_41
2           296.01         795.0             0.0                  0  CITY_68
3          1657.01         724.0             2.0                  0   CITY_8
4          4461.24         510.0             0.0                  0  CITY_33

   default
0        0
1        0
2        0
3        0
4        1

[INFO] Encoding categorical features...
[BEFORE] Columns: ['application_id', 'application_date', 'age', 'gender', 'education', 'occupation', 'employment_length', 'income', 'loan_amount', 'loan_term', 'interest_rate', 'monthly_payment', 'credit_score', 'existing_loans', 'previous_defaults', 'city', 'default']

[AFTER] Categorical features encoded! New shape: (50000, 850)

   application_id  age  employment_length    income  loan_amount  loan_term  \
0               1   40          13.573526  40298.38     95254.57         48
1               2   33           3.061310  38167.11    140514.31         60
2               3   42          12.040059   8666.27     13340.61         60
3               4   53           8.490862  33093.00     73008.42         60
4               5   32           0.782913  41115.42     51399.26         12

   interest_rate  monthly_payment  credit_score  existing_loans  ...  \
0          10.95          2459.46         781.0             0.0  ...
1          17.12          3501.53         687.0             1.0  ...
2          11.89           296.01         795.0             0.0  ...
3          12.89          1657.01         724.0             2.0  ...
4           7.58          4461.24         510.0             0.0  ...

   city_CITY_90  city_CITY_91  city_CITY_92  city_CITY_93  city_CITY_94  \
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

   city_CITY_95  city_CITY_96  city_CITY_97  city_CITY_98  city_CITY_99
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

[5 rows x 850 columns]

[INFO] Scaling numeric features using standard scaler...
[SUCCESS] Features scaled using standard

[INFO] Dataset statistics after scaling:
       application_id           age  employment_length        income  \
count    5.000000e+04  5.000000e+04       5.000000e+04  5.000000e+04
mean     9.094947e-18 -2.458478e-17       1.669775e-16 -2.165024e-16
std      1.000010e+00  1.000010e+00       1.000010e+00  1.000010e+00
min     -1.732016e+00 -1.523442e+00      -1.363046e+00 -1.448930e+00
25%     -8.660081e-01 -8.049015e-01      -6.057953e-01 -6.624810e-01
50%      0.000000e+00  3.456178e-03       2.762360e-16 -1.747093e-01
75%      8.660081e-01  7.219963e-01       3.564453e-01  3.774339e-01
max      1.732016e+00  4.045244e+00       5.990031e+00  1.400414e+01

        loan_amount     loan_term  interest_rate  monthly_payment  \
count  5.000000e+04  5.000000e+04   5.000000e+04     5.000000e+04
mean   1.044498e-16  4.579448e-17  -7.615597e-16     5.513812e-17
std    1.000010e+00  1.000010e+00   1.000010e+00     1.000010e+00
min   -1.101661e+00 -1.419315e+00  -2.588757e+00    -8.509827e-01
25%   -6.869531e-01 -7.106003e-01  -7.348833e-01    -6.011551e-01
50%   -2.758693e-01 -1.885182e-03  -3.090908e-03    -3.136115e-01
75%    3.670647e-01  7.068299e-01   7.347998e-01     2.132169e-01
max    1.617059e+01  1.415545e+00   3.509513e+00     2.109691e+01

       credit_score  existing_loans  previous_defaults       default
count  5.000000e+04    5.000000e+04       5.000000e+04  5.000000e+04
mean  -9.322321e-17    8.171241e-17       4.177991e-17 -1.950440e-17
std    1.000010e+00    1.000010e+00       1.000010e+00  1.000010e+00
min   -4.687765e+00   -1.026309e+00      -4.232751e-01 -6.355335e-01
25%   -6.593816e-01   -1.026309e+00      -4.232751e-01 -6.355335e-01
50%    2.147187e-02    2.469746e-03      -4.232751e-01 -6.355335e-01
75%    8.725388e-01    2.469746e-03      -4.232751e-01  1.573481e+00
max    1.258356e+00    6.175144e+00       2.362529e+00  1.573481e+00
====================
[COMPLETE] Data Preprocessing Finished!
====================